<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<div class="card-content">
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m7 l7">
			          <input id="concepto" type="text" class="validate">
			          <label for="concepto">Concepto</label>
			        </div>
			        <div class="input-field col s12 m2 l2 offset-m1 offset-l1">
			          <input id="Porcentaje" type="text" class="validate">
			          <label for="Porcentaje">Porcetaje</label>
			        </div>
			        <div class="input-field col s12 m2 l2">
			          <input id="periodo" type="text" class="datepicker">
			          <label for="periodo">Periodo</label>
			        </div>
						</div>
						<div class="row">
							<div class="input-field col s12 m3 l3">
			          <input id="unitario" type="number" class="validate">
			          <label for="unitario">Valor Unitario</label>
			        </div>
			        <div class="input-field col s12 m3 l3 offset-m1 offset-l1">
			          <input id="cantidad" type="number" class="validate">
			          <label for="cantidad">Cantidad</label>
			        </div>
			        <div class="col s12 m3 l3 offset-m1 offset-l1">
			        	<button class="btn waves-effect waves-light grey" id="btnEnviar" type="submit" name="action">
			        		Enviar
								 	<i class="material-icons right">send</i>
							</button>
			        </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<div class="card-content">
				<div class="row">
					<h5 class="col s12">Obtencion de Utilidades del Negocio</h5>
				</div>
				<div id="tblUtilidades">
					<table class="bordered responsive-table">
						<thead>
							<tr>
								<th></th>
								<th>Concepto</th>
								<th>Valor Unitario</th>
								<th>Cantidad</th>
								<th>Valor Total</th>
								<th>Periodo</th>
								<th>Porcentaje</th>
							</tr>
						</thead>
						<tbody>
							{{#each utilidades}}
							<tr>
								<td>
									<input type="checkbox" name="productSelection">
									<label for="productSelection"></label>
								</td>
								<td>{{concepto}}</td>
								<td>{{unitario}}</td>
								<td>{{cantidad}}</td>
								<td>{{total}}</td>
								<td>{{periodo}}</td>
								<td>{{porcentaje}}</td>
							</tr>
							{{/each}}
						</tbody>
						<tfoot>
							<tr>
								<th></th>
								<th>Utilidad</th>
								<th>$169.398.691</th>
								<th>15.001.168</th>
								<th>$33.880</th>
								<th></th>
								<th>43%</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
